.todo_item {
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.todo_item label {
  width: 100%;
  font-size: 14px;
}

.todo_item label.on {
  text-decoration: line-through;
  color: #666;
}

.todo_item button {
  height: 32px;
  color: var(--point-color1);
  border: 1px solid var(--point-color1);
  padding: 0 10px;
  background: none;
  border-radius: 4px;
}
